.message-body {
    text-align: center;
}


.btn-highlight {
    background-color:rgb(33, 145, 226);
}

.subject {
    padding: 14px;
    font-size: 30px;
    font-family: "Trirong", serif;
    font-weight: bold;
    max-width: 100%;
}

.msg-highlight {
    font-size: 24px;
}

.email-prev-bar {
    background-color: darkgrey;
}

.email-prev {
    margin: 5px;
    background-color: white;

}

.compose-lg {
    border-radius: 10%;
}

@media screen and (min-width: 1000px) {
    .email-highlight  {
        background-color:rgb(33, 145, 226);
        color: white;
    }
}