.message-body {
    text-align: center;
}

.subject {
    padding: 25px;
    font-size: 24px;
    font-weight: bold;
    max-width: 100%;
    background-color: darkgray;
}

.col-11 {
    font-size: 24px;
}

@media screen and (min-width: 1000px) {
    .email-highlight  {
        background-color:rgb(33, 145, 226);
        color: white;
    }
}